@media(min-width:320px) {
    .foot-list{
        position:fixed;
        bottom:0;
        left:0;
        width:100vw;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2vh;
        background: transparent;
    }
    
}


.footer-item{
    flex: 1;
    margin-left: 1vw;
    align-self: flex-start;
    font-family: Roboto;
    font-size: 1rem;
}


.foot-list>div>a{
    text-decoration: none;
    color: var(--light-grey)
}

.foot-list>div>a:hover{
    color: var(--dark-green)
}

.input-news-letter{
    flex: 4;
    align-self: flex-end;
}
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: var(--light-grey);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}
.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
.inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border: 0;
    font-family: Roboto;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: var(--light-grey);
    transition: all 0.15s ease;
}
.inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--light-gold);
}
.inp input:focus + .label {
    color: var(--light-gold);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

.policy-item{
    align-self: flex-end;
    margin-right: 2vw;
    transform: scale(1.2);
}

.shipping-item{
    align-self: flex-end;
    margin-right: 2vw;
    transform: scale(1.2);
}

