<div class="table-responsive">
    <table class="table table-striped" id="Attributes_table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Add/Del row</th>
                <th scope="col">
                    <div class="form-group">
                        <label for="finition_input">Finition</label>
                        <p>
                            <input type="text" placeholder="add finition to the selector" id="finition_input">
                            <button  class="btn btn-outline-success btn-sm rounded-0" type"submit" id="finition_submit">
                                Submit
                            </button>
                        </p>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-group">
                        <label for="finition_input">Size</label>
                        <p>
                            <input type="text" placeholder="add size to the selector" id="size_input">
                            <button  class="btn btn-outline-success btn-sm" type"submit" id="size_submit">
                                Submit
                            </button>
                        </p>
                    </div>
                </th>
                <th scope="col">Prices</th>
                <th scope="col">Images</th>
                <th scope="col">Edit/Del Entry</th>
            </tr>
        </thead>
        <tbody>
            {% for attr in attributes %}
            <tr id="{{attr.id}}" class="duplicable">
                <td>
                    <ul class="list-inline">
                        <li>
                            <button name = "del_row" class="btn btn-outline-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete Row" id="del_row"><i class="fa-solid fa-minus"></i></button>
                        </li>
                        <li>
                            <button name ="add_row" class="btn btn-outline-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add Row" id="add_row"><i class="fa-solid fa-plus"></i></button>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="edit_select_finition" disabled>
                            <option selected>{{attr.finition}}</option>
                            {% for finition in finitions %}
                            <option value="{{finition.id}}">
                                {{finition.value}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select  class="form-control" id="edit_select_size" disabled>
                            <option selected>{{attr.size}}</option>
                            {% for size in sizes %}
                            <option value="{{size.id}}">
                                {{size.value}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td class="input_attr_price">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                        <input  id="price_attr_input" type="text" class="form-control plaintext" value="{{attr.price}}">
                    </div>
                </td>
                <td class="input_attr_img">
                    <div class="input-group mb-3">
                        <label class="mr-2" for="edit_image_input" >Choose file</label>
                        <input name="file" type="file" id="edit_image_input" disabled>
                    </div>
                </td>
                <td>
                    <button name ="edit_entry" class="btn btn-outline-info" type="button"  id="edit_entry">Edit </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>