<div class="table-responsive">
    <table class="table table-striped" id="Attributes_table">
        <thead class="thead-dark">
            <tr>
                <th scope="col-auto">Finition</th>
                <th scope="col-auto">Size</th>
                <th scope="col-auto">Prices</th>
                <th scope="col-auto">Images</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} {% for attr in attributes %} {% endcomment %}
            <tr id="editable">
                <td>
                    <form class='inline-form'>
                        <label class='my-1 mr-2' for="edit_select-input">finition</label>
                        <select name="select_finition" class="custome-select my-1 mr-sm2" id="finition_select">
                            <option selected>{{attr.finition}}</option>
                            {% for finition in finitions %}
                            <option value="{{finition.id}}">
                                {{finition.value}}
                            </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm btn-outline-info" type="button" id='edit_select_finition'>Edit</button>
                    </form>
                </td>
                <td>
                    <form class='inline-form'>
                        <label class='my-1 mr-2' for="edit_select-input">size</label>
                        <select name="select_size" class="custome-select my-1 mr-sm2" id="size_select">
                            <option selected>{{attr.size}}</option>
                            {% for size in sizes %}
                            <option value="{{finition.id}}">
                                {{finition.value}}
                            </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm btn-outline-info" type="button" id='edit_select_size'>Edit</button>
                    </form>
                </td>
                <td class="input_attr_price">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                        <input  id="price_attr_input" type="text" class="form-control plaintext" value="{{attr.price}}">
                        <button class="btn btn-sm btn-outline-info" type="button" id='edit_input_price'>Edit</button>
                    </div>
                </td>
                <td class="input_attr_img">
                    <div class="input-group mb-3">
                        <label class="mr-2" for="edit_image_input" >Choose file</label>
                        <input name="file" type="file" id="edit_image_input" disabled>
                        <button class="btn btn-sm btn-outline-info" type="button" id='edit_input_price'>Edit</button>
                    </div>
                </td>
            </tr>
            {% comment %} {% endfor %} {% endcomment %}
        </tbody>
    </table>
</div>