<h4>Attributes and Prices</h4>
   <div class="table-responsive">
        <table class="table table-striped" id="Attributes_table">
            <<thead class="thead-dark">
                <tr>
                    <th scope="col">Add/Del row</th>
                    <th scope="col">
                        <div class="form-group">
                            <label for="finition_input">Finition</label>
                            <p>
                                <input type="text" placeholder="add finition to the selector" id="finition_input">
                                <button  class="btn btn-outline-success btn-sm rounded-0" type"submit" id="finition_submit">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="form-group">
                            <label for="size_input">Size</label>
                            <p>
                                <input type="text" placeholder="add size to the selector" id="size_input">
                                <button  class="btn btn-outline-success btn-sm" type"submit" id="size_submit">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </th>
                    <th scope="col">Prices</th>
                    <th scope="col">Images upload</th>
                    <th scope ='col'>Images</th>
                </tr>
            </thead>
            <tbody>
                <tr id="creation_duplicable" class="creation_duplicable">
                    <td>
                        <ul class="list-inline">
                            <li>
                                <button class="btn btn-outline-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete Row" id="del_row_creation"><i class="fa-solid fa-minus"></i></button>
                            </li>
                            <li>
                                <button  class="btn btn-outline-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add Row" id="add_row_creation"><i class="fa-solid fa-plus"></i></button>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="select_finition">
                                <option selectd>choose</option>
                                {% for finition in finition_list %}
                                <option value="{{finition.id}}">
                                    {{finition.value}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select  class="form-control" id="select_size">
                                <option selectd>choose</option>
                                {% for size in size_list %}
                                <option value="{{size.id}}">
                                    {{size.value}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>Collarbone Breaker 
                    <td class="input_attr_price">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">0.00</span>
                            </div>
                            <input  id="price_attr_input" type="text" class="form-control">
                        </div>
                    </td>
                    <td>
                        <form role="form" action="" method="post" enctype="multipart/form-data">
                            <div class="input-inline mb-3">
                                <label class="mr-2" for="image_input" >Choose file</label>
                                <input name="file" type="file" id="image_input">
                            </div>
                        </form>
                    </td>
                    <td class="input_attr_img">
                        <div class="input-inline">
                            <img src="{{img_default}}" alt="Image Preview" width="100" height="40" id='img_preview'>
                            <label class="mr-2" for="alt_image_input" >Alternate Text</label>
                            <input type="text" id="alt_image_input" class="form-control">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
