{% extends 'cms/cms-base.html' %}
{% block content %}

<p>
    <div class="search-result(container">
        {% include 'cms/navigation/results.html' %}
    </div>
</p>

    {% csrf_token %}
    <div class="container-fluid">
        {% include 'cms/product/creation/tags.html' %}
    </div>
    <div class="w-100 pt-4"></div>
    <div class="container-fluid">
        {% include 'cms/product/creation/product.html' %}
    </div>
    <div class="attributes-container">
        {% include 'cms/product/creation/attributes.html' %}
    </div>
    <div class="w-100 pt-4"></div>
    <div class="row">
        {% include 'cms/product/creation/function.html' %}
    </div>
{% endblock content %}