<div class="container-fluid">
    <h4>Product:</h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>{{product.designation.label}}</label>
                <p>{{product.designation}}</p>
                {{product.designation.errors}}
                {{product.designation.help_text}}
            </div>
        </div>
    </div>
    <div class="w-100 pt-4"></div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label>{{product.description.label}}</label>
                    <div class="w-100 pt-4"></div>
                    <p>{{product.description}}</p>
                    {{product.description.errors}}
                    {{ product.description.help_text }}
                </div>
            </form>
        </div>
    </div>
</div>