<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'cms:home' %}">APP's Content Manager</a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="input-group input-group-sm- mb-3 mt-4" method="POST">
        {% csrf_token %}
        <input id="search-bar" name="q" type="text" class="form-control" value="{{requet.POST.name}}">
        <button type="submit" class="btn btn-outline-info" id="submit-search">Submit</button>
        <button id="reset-search" type="reset" class='btn btn-outline-danger' style="margin-left: 2px;"><i class="fas fa-sync-alt"></i></button>

        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'cms:logout' %}">Sign out</a>
        </div>
    </form>

</nav> 